/.idea
/.semart

###> symfony/framework-bundle ###
/.env
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
# vuepress distribution
.vuepress/dist

# cs
/.php_cs.cache
/.phpunit.result.cache
/.phpstan.phar